<!DOCTYPE html>
<html>
<head>
    <title>f1studioz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/new.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/tooltipster.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
     <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
        <div class="container-fluid">
            <div class="row">
            <div class="recommendation-header"> 
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="col-sm-5" id="chat-header">
                          <a class="navbar-brand" ><i class="fa fa-comment-o"></i> &nbsp; QUERY HISTORY</a>
                    </div>
                    <div class="col-sm-7 navbar-color">
                    <div class="navbar-header">
                        
                        <span class="sr-only">Toggle navigation</span>
                        <span class="close">&times;</span>
                    
                        <a class="navbar-brand" href='#'><img src='images/Drawing.png' class="img-responsive" alt=''>Employee Name | 0:07</a>
                    </div>
                     <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="close">&times;</li>
                    </ul>
                    </div>
                    </div>    
                </nav>        
            </div>
            </div>
            </div> 
        </header>
        <section>
            <ul class="nav nav-tabs" id="nav">
                <li class="active"><a data-toggle="tab" href="#home">CHAT</a></li>
                <li><a data-toggle="tab" href="#menu1">RECOMMENDATION</a></li>
            </ul>

<div id='tabs' class="tab-content" ng-app='chatlist'>
<div class="container-fluid">    
    <div class="row">
 <!-- ===================================================== CHAT SECTION ====================================================--> 

          <div id="home" class=" col-sm-5 tab-pane fade in active">
            <div class="row" id='chat' ng-controller="mcon">
                <div class="message-section" >
             
                <div class="col-xs-12">
                     <div class="row chat-bubble">
                      <div class="col-xs-4 col-sm-3 col-md-2">
                   <img src="images/chat-user.png" class="img-responsive" alt=''>
                    </div>     
                    <div class="col-xs-8 col-sm-9 col-md-10">
                        <div class="bubble me">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy tex</div>
                    </div>
                  
                    </div>
                </div> 
                   <div class="col-xs-12" ng-repeat="x in messages">
                    <div class="row chat-bubble">
                    <div class="col-xs-8 col-sm-9 col-md-10" >
                       <div class="bubble you">
 {{x}}</div>
                    </div>
                      <div class="col-xs-4 col-sm-3 col-md-2">
                        <img src="images/chat-user.png" class="img-responsive" alt=''>
                    </div>    
                    </div>    
                </div>    
                    </div>
                <div class="col-xs-12">
                  <div class="row interact-section">
                    <div class="col-xs-1 round-btn">
                        <a href='#'><i class="fa fa-refresh"></i></a>  
                    </div>
                      <div class="col-xs-8 col-sm-8 col-md-9 form-group">
                      <form id='message' role="form">
                    
                        
                           
                            <input type="text" autofocus class='form-control' placeholder='Type your Message' ng-model='addMe' id='mesg'>
                                
                            
                    </div>  
                    <div class="col-xs-1 ">
                        <button type="submit" ng-click='add()' value=""  class="round-btn"><i class="fa fa-send"></i></button>  
                    </div> 
                     </form>      
                    <div class="col-xs-1 round-btn option">
                        <a href='#' class="tooltip"><i class="fa fa-ellipsis-h"></i></a>  <i class="fa fa-ellipsis-h"></i>
                    </div>   
                  </div>
                </div>      
            </div>
          </div>
     

<!-- ======================================================== CHAT SECTION ENDS ===============================================-->   

<!-- ======================================================== DATA SECTION BEGINS ===============================================-->     
        <div id="menu1" class="col-sm-7 tab-pane fade ">
            <div  id='recommendation'>
 <!-- ======================================================== RECOMMENDATION TOP BEGINS ===============================================-->         
                <div class="row first-section">
                  <div class="col-sm-6 detail-section">
                    <ul>
                        <li>Role</li>
                        <li>Email</li>
                        <li>Phone Number</li>
                        <li>Address</li>
                    </ul>
                  </div>
                  <div class="col-sm-6 ticket-section">
                      <div class="ticket">
                          <h4>Date-Ticket Topic</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                      </div>
                      <div class="ticket">
                          <h4>Date-Ticket Topic</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                      </div>
                      <div class="ticket">
                          <h4>Date-Ticket Topic</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                      </div>
                   </div>
                </div> 
 <!-- ======================================================== RECOMMENDATION TOP ENDS ===============================================--> 
          
 <!-- ======================================================== RECOMMENDATION BODY BEGINS ===============================================-->             
                <h4 class="heading"><span class="glyphicon glyphicon-list-alt"></span> RECOMMENDATIONS</h4> 
                <div class='recommendation-main'> 
                  <div class="row">

                    <div class="col-sm-6 detail-box">
                            <h5>Related Form</h5>
                            <p>Request for Corporate Card Reinstatement</p>
                    </div>  
                    <div class="col-sm-3 col-sm-offset-1 col-md-offset-3">
                        <button type="button" class="btn btn-default btn-style">SEND TO EMPLOYEE</button>  
                    </div>    
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-2">
                        <i class="fa fa-thumbs-o-up fa-2x"></i><span>&nbsp; 581</span>   
                    </div>      
                </div>  
               </div>
 <!-- ======================================================== RECOMMENDATION BODY ENDS ===============================================-->  
          
 <!-- ======================================================== INSIGHTS BEGIN ===============================================-->         
        <div class="insights">
              <h4 class="heading"><span class='glyphicon glyphicon-search'></span> INSIGHTS</h4>
              <div class="row scrollable-pane">
                <div class="col-sm-6 insight-box">
                    <div class="row">   
                     <div class="col-xs-2">    
                  <i class="fa fa-comment-o fa-2x"></i>
                     </div>      
                     <div class="col-xs-10">      
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
                     </div>      
                    </div>     
                </div>
                   <div class="col-sm-6 insight-box">
                    <div class="row">   
                     <div class="col-xs-2">    
                  <i class="fa fa-lightbulb-o fa-2x"></i>
                     </div>      
                     <div class="col-xs-10">      
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
                     </div>      
                    </div>     
                </div>
                   <div class="col-sm-6 insight-box">
                    <div class="row">   
                     <div class="col-xs-2">    
                  <i class="fa fa-comment-o fa-2x"></i>
                     </div>      
                     <div class="col-xs-10">      
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
                     </div>      
                    </div>     
                </div>
                   <div class="col-sm-6 insight-box">
                    <div class="row">   
                     <div class="col-xs-2">    
                  <i class="fa fa-lightbulb-o fa-2x"></i>
                     </div>      
                     <div class="col-xs-10">      
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
                     </div>      
                    </div>     
                </div>  
              </div>
        </div>
<!-- ======================================================== INSIGHTS ENDS ===============================================-->          
        </div>   
  </div>
            
<!-- ======================================================== DATA SECTION ENDS ===============================================-->     
</div>
    </div>
            </div>
        </section>

            
        
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>    
    <script src="js/main.js"></script>
    <script src="js/jquery.tooltipster.js"></script>
    <script>
        $(document).ready(function() {
            $('.tooltip').tooltipster({
               content: $('<ul class="tooltip-content"><li><a href="#">Export Transcript</a></li><li><a href="#">Close Ticket</a></li></ul>'),
                contentAsHTML: true,
                trigger:'click',
                interactive:true
            });
        });
    </script>
    </body>
</html> 