@fontface{
font-family:bakersfield;    
src:url('../fonts/Bakersfield%20Light.ttf');
}
@fontface{
font-family:bakersfield;    
src:url('../fonts/Bakersfield%20Bold.ttf');
font-weight:bold;    
}
body{
padding:0px;
font-family: 'bakersfield',calibri;
color:#2d2d2d;     
text-align:center; 
overflow-y: hidden;    
}

nav,h1,h2{
font-weight:bold;
}
section{
padding:50px 0px;
}
#navbar{
background-color: rgba(256, 256, 256, 0.9);
}
#navbar  button.navbar-toggle{
border: none;
}
#navbar button span.icon-bar{
background: #82ca9c;
}
#navbar button:hover{
background:none;
transform: scale(1.1);
}
#navbar .navbar-brand{
width:70px;
margin-top:-10px;
}
#navbar .navbar-nav li{
margin:0 20px;
}
#navbar .navbar-nav > li.active > a{
background:none;
color:#82ca9c;    
}
#sec_1{
padding: 0;    
background:#fefefe url(../images/background/background2.png) no-repeat;     
}
#sec_1 h1{
font-size:1em;
margin-top:80px;    
}
#sec_1 .img-responsive{
width:30%;
}
.img-responsive{
display: inline-block;
}
#sec_1 .scroll_button{
display: inline-block;
position: relative;   
}
#sec_2 img{
margin-top:20px;
width: 300px;
}

#sec_2 h3{
font-weight: bold;    
}
#sec_2 .design{
margin-bottom:90px;
}
#sec_2 .design h4:first-of-type {
margin-top:32px;
}
#sec_3{
background: #fcfcfc;
}
#sec_3 p{
margin-top:50px;    
text-align: left;
}

  #sec_4 .container{
    transform: rotate(90deg);
    }
    #sec_4 .container .col-xs-2,#sec_4 .container .col-xs-3{
    transform:rotate(-90deg);
    }
    
#sec_3 .buton{
border:1px solid #82ca9c;
padding:15px 40px;    
background: none;
font-size:1em;  
color:#82ca9c;    
font-weight:bold;    
margin-top:50px;    
transition: background 1s,color 0.5s;
}
#sec_3 .buton:hover{

background:#82ca9c;
border-color:#fff;
color:#fff;    
text-decoration: none;
}
#sec_4 .skillsec{
margin-bottom: 50px;
}
#sec_4 .bar-section{
margin-top:-25px;
}
#sec_4 .skill-bar .bar-container{
padding:0px;
margin:10px 0px;    
    
border:1px solid #ddd;
transform: rotate(180deg)    
}
#sec_4 .skill-bar .bar-container .bar{
background:#82ca9c;     
margin:-8px 2px;
transform:  rotate(180deg);
text-align: right;    
}
#html{
width:96.5%;
}
#javascript{
width:78%;
}
#bootstrap{
width: 40%;
}
#php{
width: 19%;
}
#wordpress{
width:11.5%;
}
#sec_4 h5{
padding:5px;
    color:#fff;}

.heading{
margin-bottom:50px;
margin-top:50px;
color: #82ca9c;
}
footer{
background:#82ca9c;
font-weight:bold;    
}
footer .social-icons li{
display:inline-block;
margin:30px;    
}
footer .social-icons li > a{
color:#2d2d2d;
}
footer .social-icons li > a:hover{
color:#fff;
}
#preloader{
position:absolute;
left:0;
right:0;
top:0;
background:#fefefe;
z-index:99;
height:100%;    
}
#status  {
     width: 200px;
     height: 200px; 
     position: absolute; 
     left: 50%;
     top: 50%;
     background-image: url('../images/background/loader.gif');
     background-repeat: no-repeat;
     background-position: center;
     margin: -100px 0 0 -100px;
 }

/*****************************Media Queries*****************************/
@media(min-width:320px)
{
    #sec_1 h1{
    font-size:1.6em;
    margin-top:130px;    
    }
     #sec_3 p{
    font-size:1.4em;
    }
  
}
@media(min-width:760px)
{
    #sec_1 h1{
    font-size:2.5em;
    margin-top:200px;    
    }
    #sec_4 .container{
    transform: rotate(0deg);
    }
    #sec_4 .container .col-xs-2,#sec_4 .container .col-xs-3{
    transform:rotate(0deg);
    }
    
}
@media(min-width:1050px){

    #sec_2 h1{
    margin-top:100px;
    }
    #sec_3  {
        padding-top:130px;   
    }
    #sec_3 p{
    font-size:1.9em;
    }
    #sec_3 .buton{
    border-width:2px;
    font-size:1.4em;
    }
    #sec_4 .skills_row{
margin-top:30px;
}
    
}
@media(max-width:700px){
    #sec_4 h5{
    font-size:0.em;
    }
    
}